@model SmmCoreDDD2019.Common.Identity.ViewModel.Account.EditUserPWDViewModel

@{
  //  ViewData["Title"] = "EditUserPWD2";
  Layout = "";
}

<div class="row">
    <div class="col-lg-12">
        <form asp-action="EditUserPWD2" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <table>
                <tr><th>  <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label></th><td>  <input asp-for="Name" class="form-control" /></td></tr>
                <tr><th> <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label></th><td>  <input asp-for="Email" class="form-control" /></td></tr>
                <tr>
                    <th>  <label asp-for="ApplicationRoleId" class="col-lg-3 col-sm-3 control-label"></label></th>
                    <td>
                        <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                            <option>Please select</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>  <label asp-for="Password" class="col-lg-3 col-sm-3 control-label"></label></th>
                    <td>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>  <label asp-for="ConfirmPassword" class="col-lg-3 col-sm-3 control-label"></label></th>
                    <td>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </td>
                </tr>

                @*<tr><td> <a asp-action="EditUser2" asp-route-id="@Model.NoUrutMarco">Edit</a> |</td></tr>*@
                <tr><td><input type="submit" value="Simpan" class="btn btn-default" /></td></tr>

                <tr><td> </td></tr>
              
            </table>


        </form>


    </div>

</div>


