@model SmmCoreDDD2019.Application.AccountingDataAccountDB.Command.CreateAccountingDataAccount.CreateAccountingDataAccountCommand
@{
    ViewData["Title"] = "CreateAccount";
    // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
    Layout = "_Layout3";
}

<h2>CreateAccount</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Lft" class="control-label"></label>
                    <input asp-for="Lft" class="form-control" />
                    <span asp-validation-for="Lft" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rgt" class="control-label"></label>
                    <input asp-for="Rgt" class="form-control" />
                    <span asp-validation-for="Rgt" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label class="control-label"></label>
                @*<input asp-for="Parent" class="form-control" />*@
                <select id="Parent1a" name="Parent1a" asp-items="ViewBag.DataAkun1" class="form-control">
                    <option value="0">(Tidak Ada)</option>
                </select>

            </div>
            <div class="form-group">
                <label class="control-label">Insert Setelah</label>
                <select name="Parent1" asp-for="Parent" id="Insert1b" class="form-control">
                    <option value="0">(Tidak Ada)</option>
                </select>
            </div>
            @*<div class="form-group">
                    <label asp-for="Depth" class="control-label"></label>
                    <input asp-for="Depth" class="form-control" />
                    <span asp-validation-for="Depth" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="KodeAccount" class="control-label"></label>
                <input name="KodeAccount1" asp-for="KodeAccount" class="form-control" />
                <span asp-validation-for="KodeAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input name="Account1a" asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalPos" class="control-label"></label>
                @*<input asp-for="NormalPos" class="form-control" />*@
                <select name="NormalPos1" asp-for="NormalPos" class="form-control">
                    <option value="1">Debit</option>
                    <option value="-1">Kredit</option>
                </select>
                <span asp-validation-for="NormalPos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelompok" class="control-label"></label>
                @*<input asp-for="Kelompok" class="form-control" />*@
                <select name="Kelompok1" asp-for="Kelompok" class="form-control">
                    <option value="N">Neraca</option>
                    <option value="L">Laba/rugi</option>
                </select>
                <span asp-validation-for="Kelompok" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<script>

    $(document).ready(function ()
    {
         $("#Parent1a").change(function ()
        {

                          $.ajax({
                                 type: 'GET',
                                  url: '@Url.Action("GetAccount")',
                                   datatype: JSON,
                              data: { 'data1a': $("#Parent1a").val() },
                                   success: function (data)
                                   {
                                      FillDropdown("Insert1b", jQuery.parseJSON(data))
                                    },
                                       error: function (data)
                                          {
                                              alert(data);
                                           alert('eror bosku');
                                           alert(jQuery.parseJSON(data));
                                          }
                           });
          });

    });

    // Generic code for any dropdown to fill called by ajax
    function FillDropdown(selector, vData) {
        if (vData.length > 0) {
            var vItems = [];
            for (var i in vData) {
                if (vData[i].Selected)
                    vItems.push('<option selectedselected=selected value="' + vData[i].Value + '">' + vData[i].Text + '</option>');
                else
                    vItems.push('<option value="' + vData[i].Value + '">' + vData[i].Text + '</option>');
            }
            $('#' + selector).empty();
            $('#' + selector).append(vItems.join(''));
            return true;
        }
        else {
            $('#' + selector).empty();
            return false;
        }
    }

</script>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
