@model SmmCoreDDD2019.Application.DataPerusahaans.Command.CreateDataPerusahaan.CreateDataPerusahaanCommand

@{
    ViewData["Title"] = "CreateDataPerusahaan";
   //Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDataPerusahaan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="NamaP" class="control-label"></label>

                        <input asp-for="NamaP" class="form-control" />
                        <span asp-validation-for="NamaP" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">

                        <label asp-for="AlamatP" class="control-label"></label>

                        <input asp-for="AlamatP" class="form-control" />
                        <span asp-validation-for="AlamatP" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Kel" class="control-label"></label>

                        <input asp-for="Kel" class="form-control" />
                        <span asp-validation-for="Kel" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Kec" class="control-label"></label>

                        <input asp-for="Kec" class="form-control" />
                        <span asp-validation-for="Kec" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="Kota" class="control-label"></label>

                        <input asp-for="Kota" class="form-control" />
                        <span asp-validation-for="Kota" class="text-danger"></span>


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Propinsi" class="control-label"></label>

                        <input asp-for="Propinsi" class="form-control" />
                        <span asp-validation-for="Propinsi" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KodePos" class="control-label"></label>

                        <input id="KodePos1" asp-for="KodePos" class="form-control" />
                        <span asp-validation-for="KodePos" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Telp" class="control-label"></label>

                        <input id="Telp1" asp-for="Telp" class="form-control" />
                        <span asp-validation-for="Telp" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Cs" class="control-label"></label>

                        <input asp-for="Cs" class="form-control" />
                        <span asp-validation-for="Cs" class="text-danger"></span>



                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">

                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
<hr />
<hr />
<script>
    $('#KodePos1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#KodePos1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#Telp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Telp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
</script>
