@model SmmCoreDDD2019.Application.PermohonanFakturDBs.Command.CreatePermohonanFaktur.CreatePermohonanFakturCommand

@{
 //   ViewData["Title"] = "CreateMohonFaktur";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateMohonFaktur">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="KodePenjualanDetail" class="control-label"></label>
                      
                            <select asp-items="@ViewBag.NamaKonsumen1" asp-for="KodePenjualanDetail" class="form-control"></select>
                            <span asp-validation-for="KodePenjualanDetail" class="text-danger"></span>
                     


                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">

                         <label asp-for="TanggalLahir" class="control-label"></label>
                        
                            <input id="datepicker1" asp-for="TanggalLahir" class="form-control" />
                            <span asp-validation-for="TanggalLahir" class="text-danger"></span>
                       
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                        <label asp-for="NomorKTP" class="control-label"></label>
                      
                            <input id="Ktp1" asp-for="NomorKTP" class="form-control" />
                            <span asp-validation-for="NomorKTP" class="text-danger"></span>
                     

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                          <label asp-for="NamaFaktur" class="control-label"></label>
                      
                            <input asp-for="NamaFaktur" class="form-control" />
                            <span asp-validation-for="NamaFaktur" class="text-danger"></span>
                       

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Alamat" class="control-label"></label>
                       
                            <input asp-for="Alamat" class="form-control" />
                            <span asp-validation-for="Alamat" class="text-danger"></span>
                        


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                          <label asp-for="Kelurahan" class="control-label"></label>
                       
                            <input asp-for="Kelurahan" class="form-control" />
                            <span asp-validation-for="Kelurahan" class="text-danger"></span>
                       

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Kecamatan" class="control-label"></label>
                       
                            <input asp-for="Kecamatan" class="form-control" />
                            <span asp-validation-for="Kecamatan" class="text-danger"></span>
                        


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                         <label asp-for="Kota" class="control-label"></label>
                      
                            <input asp-for="Kota" class="form-control" />
                            <span asp-validation-for="Kota" class="text-danger"></span>
                        

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                       <label asp-for="Propinsi" class="control-label"></label>
                      
                            <input asp-for="Propinsi" class="form-control" />
                            <span asp-validation-for="Propinsi" class="text-danger"></span>
                        


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                         <label asp-for="KodePos" class="control-label"></label>
                     
                            <input id="KodePos1" asp-for="KodePos" class="form-control" />
                            <span asp-validation-for="KodePos" class="text-danger"></span>
                       

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                       <label asp-for="Telepon" class="control-label"></label>
                        
                            <input id="Telepon1" asp-for="Telepon" class="form-control" />
                            <span asp-validation-for="Telepon" class="text-danger"></span>
                       

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="HandphoneF" class="control-label"></label>
                            <input id="Handphone1" asp-for="HandphoneF" class="form-control" />
                            <span asp-validation-for="HandphoneF" class="text-danger"></span>
                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <input type="submit" value="Create" class="btn btn-primary" />

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">


                    </div>
                </div>
            </div>
          


        </form>
    </div>
</div>
<hr />
<hr />
<script>
    $('#datepicker1').datepicker({
        changeMonth: true,
        changeYear: true,
        appendText: "(Tanggal-Bulan-Tahun)",
        dateFormat: "dd-mm-yy",
        yearRange: "c-100:c+10"

    }); 

    $('#Handphone1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Handphone1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#Telepon1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Telepon1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#KodePos1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#KodePos1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#Ktp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Ktp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

</script>