@{
    ViewData["Title"] = "Home Page";
}


<div class="content-wrapper">
    <section class="content">
        <div class="row" style="text-align:center">
            <p>Selamat Datang ,@Context.User.Identity.Name</p><br />
          
            <p>Tanggal : @String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now.Date)</p>
         
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
