@model SmmCoreDDD2019.Application.DataSPKSurveiDBs.Command.CreateDataSPKSurveiDB.CreateDataSPKSurveiDBCommand

@{
  //  ViewData["Title"] = "CreateDataSPK";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDataSPK">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<tr>
            <td>   <label asp-for="NoUrutSPKBaru" class="control-label"></label></td>
            <td width="75%">
                <input asp-for="NoUrutSPKBaru" class="form-control" />
                <span asp-validation-for="NoUrutSPKBaru" class="text-danger"></span>
            </td>
        </tr>*@
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                         <label asp-for="LokasiSpk" class="control-label"></label>
                      
                            <input asp-for="LokasiSpk" class="form-control" />
                            <span asp-validation-for="LokasiSpk" class="text-danger"></span>
                   

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">

                       <label asp-for="NoKtpPemesan" class="control-label"></label>
                      
                            <input id="NoKtp1" asp-for="NoKtpPemesan" class="form-control" />
                            <span asp-validation-for="NoKtpPemesan" class="text-danger"></span>
                     
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">

                        <label asp-for="NamaPemesan" class="control-label"></label>
                       
                            <input asp-for="NamaPemesan" class="form-control" />
                            <span asp-validation-for="NamaPemesan" class="text-danger"></span>
                      

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="AlamatPemesan" class="control-label"></label>
                      
                            <input asp-for="AlamatPemesan" class="form-control" />
                            <span asp-validation-for="AlamatPemesan" class="text-danger"></span>
                    

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="KelurahanPemesan" class="control-label"></label>
                      
                            <input asp-for="KelurahanPemesan" class="form-control" />
                            <span asp-validation-for="KelurahanPemesan" class="text-danger"></span>
                    

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                            <label asp-for="KecamatanPemesan" class="control-label"></label>
                     
                            <input asp-for="KecamatanPemesan" class="form-control" />
                            <span asp-validation-for="KecamatanPemesan" class="text-danger"></span>
                      

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="KotaPemesan" class="control-label"></label>
                        
                            <input asp-for="KotaPemesan" class="form-control" />
                            <span asp-validation-for="KotaPemesan" class="text-danger"></span>
                       


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                          <label asp-for="PropinsiPemesan" class="control-label"></label>
                        
                            <input asp-for="PropinsiPemesan" class="form-control" />
                            <span asp-validation-for="PropinsiPemesan" class="text-danger"></span>
                     

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                       <label asp-for="KodePosPemesan" class="control-label"></label>
                      
                            <input id="KodePos1" asp-for="KodePosPemesan" class="form-control" />
                            <span asp-validation-for="KodePosPemesan" class="text-danger"></span>
                       


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                         <label asp-for="TelpPemesan" class="control-label"></label>
                      
                            <input id="Telp1" asp-for="TelpPemesan" class="form-control" />
                            <span asp-validation-for="TelpPemesan" class="text-danger"></span>
                        

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                          <label asp-for="HandphonePemesan" class="control-label"></label>
                       
                            <input id="Hp1" asp-for="HandphonePemesan" class="form-control" />
                            <span asp-validation-for="HandphonePemesan" class="text-danger"></span>
                        


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                         <label asp-for="PekerjaanPemesan" class="control-label"></label>
                      
                            <input asp-for="PekerjaanPemesan" class="form-control" />
                            <span asp-validation-for="PekerjaanPemesan" class="text-danger"></span>
                       

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NoNPWP" class="control-label"></label>
                      
                            <input id="NoNPWP1" asp-for="NoNPWP" class="form-control" />
                            <span asp-validation-for="NoNPWP" class="text-danger"></span>
                       


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="NamaNPWP" class="control-label"></label>
                        
                            <input asp-for="NamaNPWP" class="form-control" />
                            <span asp-validation-for="NamaNPWP" class="text-danger"></span>
                    

                    </div>
                </div>
            </div>
            <div hidden class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                   
                             <label asp-for="UserIdpeg" class="control-label"></label>
                           
                                <input asp-for="UserIdpeg" class="form-control" />
                                <span asp-validation-for="UserIdpeg" class="text-danger"></span>
                          

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        
                         <label asp-for="UserInput" class="control-label"></label>
                           
                                <input asp-for="UserInput" class="form-control" />
                                <span asp-validation-for="UserInput" class="text-danger"></span>
                           
                       

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">


                    </div>
                </div>
            </div>
          
        </form>
    </div>
</div>
<hr />
<hr />
<script>
    $('#NoNPWP1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#NoNPWP1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#NoKtp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#NoKtp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#Telp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Telp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#Hp1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Hp1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#KodePos1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#KodePos1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and , 
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI 
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
</script>
