
@{
   // Layout = null;
     Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}


<form asp-controller="Pembelian" asp-action="GetListPembelianDetail1A" >
    <div class="form-group">
        <div class="col-md-10">
            <div class="form-group">
                <label class="control-label">Data Pembelian</label>
                <select id="DataPmb1" name="DataPmb1" class="form-control" asp-items="ViewBag.DataPembelian1"></select>

            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                @*<input id="btnSearch" type="button" class="btn btn-primary" value="Tampilkan" />*@
                <button id="btnSearch" type="submit" class="btn btn-info">
                    Tampilkan
                </button>
            </div>
        </div>
    </div>


</form>

<script>
   
    //$('#btnSearch').on('click', function (e) {
    //    var filters = {
    //        id: $('#DataPmb1').val()

    //    };

    //    GetDataPembelian(filters);

    //});
    //$(function () {
    //    GetDataPembelian();
    //});


    //function GetDataPembelian(filters) {
    //    $.ajax({
    //        url: '/Pembelian/GetListPembelianDetail2',
    //        type: 'POST',
    //        cache: false,
    //        async: true,
    //        dataType: "html",
    //        data: filters
    //    })
    //        .done(function (result) {
    //            $('#GetListPembelianDetail2').html(result);
    //        }).fail(function (xhr) {
    //            console.log('error : ' + xhr.status + ' - '
    //                + xhr.statusText + ' - ' + xhr.responseText);
    //        });
    //}

  

   


</script>