@model SumberMas2015.Inventory.Dto.PurchaseOrderPembelian.CreatePurchaseOrderPembelianRequest

@{
    // ViewData["Title"] = "CreatePembelianPO";
    // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
   // Layout = "_Layout";
}




<hr />
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <form asp-action="CreatePembelianPO">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                  <label class="control-label">Tanggal PO Pembelian</label>
                                <input title="Silahkan pilih tanggal (Bulan-Tanggal-Tahun)" id="datepicker1" type="datetime" asp-for="TanggalInputPOPembelian" value=""  />
                                <span asp-validation-for="MasterSupplierId" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">

                                <label asp-for="MasterSupplierId" class="control-label"></label>

                                <select asp-for="MasterSupplierId" class="form-control" asp-items="ViewBag.NamaSupplier"></select>
                                <span asp-validation-for="MasterSupplierId" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="Keterangan" class="control-label"></label>

                                <input asp-for="Keterangan" class="form-control" />
                                <span asp-validation-for="Keterangan" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />

                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">



                              
                                <input type="hidden" asp-for="UserName" value="@ViewBag.UserName" class="form-control" />
                             <input type="hidden" asp-for="UserNameId" value="@ViewBag.UserId" class="form-control" />
                            

                                <label  class="control-label"></label>

                               

                                <label asp-for="PoASTRA" class="control-label"></label>

                                <input asp-for="PoASTRA" class="form-control" />
                                <span asp-validation-for="PoASTRA" class="text-danger"></span>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>
    $('#datepicker1').datepicker({
        changeMonth: true,
        changeYear: true,
        appendText: "(Tanggal-Bulan-Tahun)",
        dateFormat: "dd-mm-yy",
        yearRange: "c-100:c+10"

    });
     $('#datepicker1').keypress(function (e) 
     {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });

</script>



}

