@model SumberMas2015.Inventory.Dto.PurchaseOrderPembelian.CreatePurchaseOrderPembelianRequest

@{
        // ViewData["Title"] = "CreatePembelianPO";
        // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";

}

<hr />
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <form asp-action="CreatePembelianPO">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">

                                <label asp-for="MasterSupplierId" class="control-label"></label>

                                <select asp-for="MasterSupplierId" class="form-control" asp-items="ViewBag.NamaSupplier"></select>
                                <span asp-validation-for="MasterSupplierId" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="Keterangan" class="control-label"></label>

                                <input asp-for="Keterangan" class="form-control" />
                                <span asp-validation-for="Keterangan" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />

                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">



                              
                                <input type="hidden" asp-for="UserName" value="@ViewBag.UserName" class="form-control" />
                             <input type="hidden" asp-for="UserNameId" value="@ViewBag.UserId" class="form-control" />
                            

                                <label  class="control-label"></label>

                               

                                <label asp-for="PoASTRA" class="control-label"></label>

                                <input asp-for="PoASTRA" class="form-control" />
                                <span asp-validation-for="PoASTRA" class="text-danger"></span>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>




<script>


</script>

