@model SmmCoreDDD2019.Application.MasterLeasingDbs.Commands.CreateMasterLeasingDb.CreateMasterLeasingDbCommand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDataLeasing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaLease" class="control-label"></label>
                <input asp-for="NamaLease" class="form-control" />
                <span asp-validation-for="NamaLease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

