@model SumberMas2015.SalesMarketing.Dto.PermohonanBPKB.CreatePermohonanBPKBRequest

@{
    //  ViewData["Title"] = "CreateMohonBPKB";
    //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />

<div class="content-wrapper">
    <section class="content">

        <div class="row">
            <div class="col-md-10">
                <form asp-action="CreateMohonBPKB">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="NoUrutFaktur" class="control-label"></label>

                                <select asp-items="@ViewBag.NamaKonsumen1" asp-for="NoUrutFaktur" class="form-control"></select>
                                <span asp-validation-for="NoUrutFaktur" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="NoBPKB" class="control-label"></label>

                                <input asp-for="NoBPKB" class="form-control" />
                                <span asp-validation-for="NoBPKB" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="TanggalTerimaBPKB" class="control-label"></label>

                                <input id="TanggalTerimaBPKB1" asp-for="TanggalTerimaBPKB" class="form-control" />
                                <span asp-validation-for="TanggalTerimaBPKB" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">

                                <input type="submit" value="Create" class="btn btn-primary" />

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">


                            </div>
                        </div>
                    </div>




                </form>
            </div>
        </div>

    </section>
</div>

<script>
    $('#TanggalTerimaBPKB1').datepicker({
        changeMonth: true,
        changeYear: true,
        appendText: "(Tanggal-Bulan-Tahun)",
        dateFormat: "dd-mm-yy",
        yearRange: "c-100:c+10"

    });
</script>
