@model SumberMas2015.SalesMarketing.Dto.PermohonanSTNK.CreatePermohonanSTNKRequest

@{
    // ViewData["Title"] = "CreateMohonSTNK";
    // Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="content-wrapper">
    <section class="content">

        <div class="row">
            <div class="col-md-8">
                <form asp-action="CreateMohonSTNK">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="TanggalBayarSTNK" class="control-label"></label>

                                <input id="datepicker1" asp-for="TanggalBayarSTNK" class="form-control" />
                                <span asp-validation-for="TanggalBayarSTNK" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label asp-for="NoUrutFaktur" class="control-label"></label>

                                <select asp-items="@ViewBag.NamaKonsumen1" asp-for="NoUrutFaktur" class="form-control"></select>
                                <span asp-validation-for="NoUrutFaktur" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="NomorPlat" class="control-label"></label>


                                <input asp-for="NomorPlat" class="form-control" />
                                <span asp-validation-for="NomorPlat" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">

                                <label asp-for="NoStnk" class="control-label"></label>

                                <input id="NoStnk1" asp-for="NoStnk" class="form-control" />
                                <span asp-validation-for="NoStnk" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="PajakStnk" class="control-label"></label>


                                <input id="PajakStnk1" asp-for="PajakStnk" class="form-control" />
                                <span asp-validation-for="PajakStnk" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">

                                <label asp-for="Birojasa" class="control-label"></label>

                                <input id="Birojasa1" asp-for="Birojasa" class="form-control" />
                                <span asp-validation-for="Birojasa" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="BiayaTambahan" class="control-label"></label>


                                <input id="BiayaTambahan1" asp-for="BiayaTambahan" class="form-control" />
                                <span asp-validation-for="BiayaTambahan" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="FormA" class="control-label"></label>

                                <input id="FormA1" asp-for="FormA" class="form-control" />
                                <span asp-validation-for="FormA" class="text-danger"></span>



                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">

                                <label asp-for="Perwil" class="control-label"></label>


                                <input id="Perwil1" asp-for="Perwil" class="form-control" />
                                <span asp-validation-for="Perwil" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="PajakProgresif" class="control-label"></label>


                                <input id="PajakProgresif1" asp-for="PajakProgresif" class="form-control" />
                                <span asp-validation-for="PajakProgresif" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="BbnPabrik" class="control-label"></label>


                                <input id="BbnPabrik1" asp-for="BbnPabrik" class="form-control" />
                                <span asp-validation-for="BbnPabrik" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="ProgresifKe" class="control-label"></label>


                                <input id="ProgresifKe1" asp-for="ProgresifKe" class="form-control" />
                                <span asp-validation-for="ProgresifKe" class="text-danger"></span>

                                <input asp-for="UserInputName" value="@Context.User.Identity.Name" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />


                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">


                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </section>
</div>

<script>
    $('#datepicker1').datepicker({
        changeMonth: true,
        changeYear: true,
      //  appendText: "(Tanggal-Bulan-Tahun)",
        dateFormat: "dd-mm-yy",
        yearRange: "c-100:c+10"

    });

    $('#ProgresifKe1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#ProgresifKe1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#BbnPabrik1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#BbnPabrik1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#PajakProgresif1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#PajakProgresif1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#Perwil1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Perwil1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#FormA1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#FormA1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#BiayaTambahan1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#BiayaTambahan1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#Birojasa1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#Birojasa1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

    $('#PajakStnk1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#PajakStnk1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });
    $('#NoStnk1').keypress(function (e) {
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;

        return false;
    });
    $('#NoStnk1').keydown(function (e) {
        // return /[0-9]/.test(String.fromCharCode(e.which));
        var key = e.which || e.keyCode;
        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
            // numbers
            key >= 48 && key <= 57 ||
            // Numeric keypad
            key >= 96 && key <= 105 ||
            // Backspace and Tab and Enter
            key == 8 || key == 9 || key == 13 ||
            // Home and End
            key == 35 || key == 36 ||
            // left and right arrows
            key == 37 || key == 39 ||
            // . and ,
            key == 190 || key == 188 ||
            // ATAS and BAWAH
            key == 24 || key == 25 ||
            // KANAN and KIRI
            key == 26 || key == 27 ||
            // Del and Ins
            key == 46 || key == 45)
            return true;
        return false;
    });

</script>
