@model SmmCoreDDD2019.Application.DataKontrakAsuransiDBs.Command.CreateDataKontrakAsuransi.CreateDataKontrakAsuransiCommand

@{
    //  ViewData["Title"] = "CreateDataKontrakAsuransi";
  //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateDataKontrakAsuransi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-bordered table-striped grid text-nowrap table-responsive " style="border:double" width="200">
                <tr>
                    <td> <label asp-for="NoUrutDataAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="NoUrutDataAsuransi" class="form-control" />
                        <span asp-validation-for="NoUrutDataAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="NoRegistrasiKontrakKredit" class="control-label"></label></td>
                    <td>
                        <input asp-for="NoRegistrasiKontrakKredit" class="form-control" />
                        <span asp-validation-for="NoRegistrasiKontrakKredit" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>   <label asp-for="KodeAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="KodeAsuransi" class="form-control" />
                        <span asp-validation-for="KodeAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>   <label asp-for="JenisAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="JenisAsuransi" class="form-control" />
                        <span asp-validation-for="JenisAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="TanggalMulaiAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="TanggalMulaiAsuransi" class="form-control" />
                        <span asp-validation-for="TanggalMulaiAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>   <label asp-for="TanggalAkhirAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="TanggalAkhirAsuransi" class="form-control" />
                        <span asp-validation-for="TanggalAkhirAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>   <label asp-for="LamaAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="LamaAsuransi" class="form-control" />
                        <span asp-validation-for="LamaAsuransi" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="NilaiPertanggungan" class="control-label"></label></td>
                    <td>
                        <input asp-for="NilaiPertanggungan" class="form-control" />
                        <span asp-validation-for="NilaiPertanggungan" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="BiayaAsuransi" class="control-label"></label></td>
                    <td>
                        <input asp-for="BiayaAsuransi" class="form-control" />
                        <span asp-validation-for="BiayaAsuransi" class="text-danger"></span>
                    </td>
                </tr>
            </table>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<script>

</script>
