@model String

@{
      //  ViewData["Title"] = "_DeleteApplicationRole";
        Layout = "";
    }


<form asp-action="DeleteApplicationRole" role="form">
    @*@Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Application Role" })*@

    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    <div>
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
    @*@Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })*@
</form>


