@model SumberMas2015.SalesMarketing.Dto.Penjualan.CreateDataPenjualanDetailRequest

@{
    ViewData["Title"] = "PenjualanDetail";
    //  Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}


<hr />
<div class="content-wrapper">
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <form asp-action="PenjualanDetail">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="KodePenjualan" class="control-label"></label>

                                <select asp-for="KodePenjualan" class="form-control" asp-items="@ViewBag.NamaPemesan1"></select>
                                <span asp-validation-for="KodePenjualan" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="NoUrutSO" class="control-label"></label>

                                <select id="StokUnit1" asp-for="NoUrutSO" class="form-control" asp-items="@ViewBag.NoSoBarang"></select>
                                <span asp-validation-for="NoUrutSO" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="HargaOffTheRoad" class="control-label"></label>

                                <input id="OffTheRoad1a" asp-for="HargaOffTheRoad" class="form-control" />
                                <span asp-validation-for="HargaOffTheRoad" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="BBN" class="control-label"></label>

                                <input id="BBN1" asp-for="BBN" class="form-control" />
                                <span asp-validation-for="BBN" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="HargaOTR" class="control-label"></label>

                                <input id="OTR1" readonly class="form-control" />
                                <input hidden id="OTR2" readonly asp-for="HargaOTR" class="form-control" />
                                <span asp-validation-for="HargaOTR" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="uangMuka" class="control-label"></label>

                                <input value="0" id="DPPricelist1" asp-for="uangMuka" class="form-control" />
                                <span asp-validation-for="uangMuka" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DiskonKredit" class="control-label"></label>

                                <input value="0" id="DiskonDP1" asp-for="DiskonKredit" class="form-control" />
                                <span asp-validation-for="DiskonKredit" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">DP Bayar</label>

                                <input id="DPBayar1" readonly class="form-control" />



                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">

                                <label asp-for="DiskonTunai" class="control-label"></label>

                                <input value="0" asp-for="DiskonTunai" class="form-control" />
                                <span asp-validation-for="DiskonTunai" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Subsidi" class="control-label"></label>

                                <input value="0" asp-for="Subsidi" class="form-control" />
                                <span asp-validation-for="Subsidi" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="promosi" class="control-label"></label>

                                <input value="0" asp-for="promosi" class="form-control" />
                                <span asp-validation-for="promosi" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label asp-for="Komisi" class="control-label"></label>

                                <input value="0" asp-for="Komisi" class="form-control" />
                                <span asp-validation-for="Komisi" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="JoinPromo1" class="control-label"></label>

                                <input value="0" asp-for="JoinPromo1" class="form-control" />
                                <span asp-validation-for="JoinPromo1" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="JoinPromo2" class="control-label"></label>

                                <input value="0" asp-for="JoinPromo2" class="form-control" />
                                <span asp-validation-for="JoinPromo2" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="SPF" class="control-label"></label>

                                <input value="0" asp-for="SPF" class="form-control" />
                                <span asp-validation-for="SPF" class="text-danger"></span>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label asp-for="SellOut" class="control-label"></label>

                                <input value="0" asp-for="SellOut" class="form-control" />
                                <span asp-validation-for="SellOut" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="form-group">

                                <label asp-for="DendaWilayah" class="control-label"></label>

                                <input value="0" asp-for="DendaWilayah" class="form-control" />
                                <span asp-validation-for="DendaWilayah" class="text-danger"></span>


                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">

                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </section>
</div>

<script>
    $(document).ready(function () {
        $("#StokUnit1").change(function ()
                   {
                          $.ajax({
                                 type: 'GET',
                                  url: '@Url.Action("GetHargaKendaraan")',
                                   datatype: JSON,
                              data: { 'NoUrutSO1': $("#StokUnit1").val() },
                                   success: function (data)
                                   {
                                       var aa = jQuery.parseJSON(data);
                                       var hrg = aa.HargaOff;
                                       var bbn1 = aa.BBN;
                                       var otrr = hrg+bbn1;
                                      // var NoRangka= aa.Noka;
                                       //  var NoMesin = aa.Nosin;
                                       if (aa != null)
                                       {
                                           var urlSegment = $('#OffTheRoad1a');
                                           urlSegment.val(hrg);
                                           urlSegment.change();

                                           var urlSegment2 = $('#BBN1');
                                           urlSegment2.val(bbn1);
                                           urlSegment2.change();

                                           var urlSegment3 = $('#OTR1');
                                           urlSegment3.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(otrr));
                                           urlSegment3.change();

                                           var urlSegment4 = $('#OTR2');
                                          // urlSegment4.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format(otrr));
                                           urlSegment4.change();
                                       }


                                       //var urlSegment3 = $('#Noka1');
                                       //urlSegment3.val(NoRangka);
                                       //urlSegment3.change();

                                       //var urlSegment3 = $('#Nosin1');
                                       //urlSegment3.val(NoMesin);
                                       //urlSegment3.change();

                                     //  alert($("#NoUrutTkend").val());
                                      // alert(aa.Harga);

                                    },
                                       error: function (data)
                                          {
                                              alert(data);
                                               alert('Data Kosong');
                                          }
                              });

            $("#DPPricelist1").change(function () {
                var um = $("#DPPricelist1").val();
                var disc = $("#DiskonDP1").val();
                var dpbyrr = $('#DPBayar1');
                dpbyrr.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format((um - disc)));
                dpbyrr.change();


            });
            $("#DiskonDP1").change(function () {
                var um = $("#DPPricelist1").val();
                var disc = $("#DiskonDP1").val();
                var dpbyrr = $('#DPBayar1');
                dpbyrr.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format((um - disc)));
                dpbyrr.change();


            });
            $("#OffTheRoad1a").change(function () {
                var Off = $("#OffTheRoad1a").val();
                var BBN1 = $("#BBN1").val();
                var OTr1= $('#OTR1');
                OTr1.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format((Off + BBN1)));
                OTr1.change();


            });
            $("#BBN1").change(function () {
                var Off = $("#OffTheRoad1a").val();
                var BBN1 = $("#BBN1").val();
                var OTr1 = $('#OTR1');
                OTr1.val(Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR' }).format((Off + BBN1)));
                OTr1.change();


            });





                   });





    });


</script>