@model SmmCoreDDD2019.Application.CustomerDBs.Commands.UpdateCustomerDB.UpdateCustomerCommand

@{
    ViewData["Title"] = "EditCustomer";
    Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<h2>EditCustomer</h2>

<h4>UpdateCustomerCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoKtp" class="control-label"></label>
                <input asp-for="NoKtp" class="form-control" />
                <span asp-validation-for="NoKtp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TglLahir" class="control-label"></label>
                <input asp-for="TglLahir" class="form-control" />
                <span asp-validation-for="TglLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaBPKB" class="control-label"></label>
                <input asp-for="NamaBPKB" class="form-control" />
                <span asp-validation-for="NamaBPKB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlamatKirim" class="control-label"></label>
                <input asp-for="AlamatKirim" class="form-control" />
                <span asp-validation-for="AlamatKirim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelurahan" class="control-label"></label>
                <input asp-for="Kelurahan" class="form-control" />
                <span asp-validation-for="Kelurahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kecamatan" class="control-label"></label>
                <input asp-for="Kecamatan" class="form-control" />
                <span asp-validation-for="Kecamatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kota" class="control-label"></label>
                <input asp-for="Kota" class="form-control" />
                <span asp-validation-for="Kota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propinsi" class="control-label"></label>
                <input asp-for="Propinsi" class="form-control" />
                <span asp-validation-for="Propinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodePos" class="control-label"></label>
                <input asp-for="KodePos" class="form-control" />
                <span asp-validation-for="KodePos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telp" class="control-label"></label>
                <input asp-for="Telp" class="form-control" />
                <span asp-validation-for="Telp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Handphone" class="control-label"></label>
                <input asp-for="Handphone" class="form-control" />
                <span asp-validation-for="Handphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelpKantor" class="control-label"></label>
                <input asp-for="TelpKantor" class="form-control" />
                <span asp-validation-for="TelpKantor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faks" class="control-label"></label>
                <input asp-for="Faks" class="form-control" />
                <span asp-validation-for="Faks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodeBidangPekerjaan" class="control-label"></label>
                <input asp-for="KodeBidangPekerjaan" class="form-control" />
                <span asp-validation-for="KodeBidangPekerjaan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaBidangPekerjaan" class="control-label"></label>
                <input asp-for="NamaBidangPekerjaan" class="form-control" />
                <span asp-validation-for="NamaBidangPekerjaan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KodeBidangUsaha" class="control-label"></label>
                <input asp-for="KodeBidangUsaha" class="form-control" />
                <span asp-validation-for="KodeBidangUsaha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaBidangUsaha" class="control-label"></label>
                <input asp-for="NamaBidangUsaha" class="form-control" />
                <span asp-validation-for="NamaBidangUsaha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIDPeg" class="control-label"></label>
                <input asp-for="UserIDPeg" class="form-control" />
                <span asp-validation-for="UserIDPeg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInput" class="control-label"></label>
                <input asp-for="UserInput" class="form-control" />
                <span asp-validation-for="UserInput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jual" class="control-label"></label>
                <input asp-for="Jual" class="form-control" />
                <span asp-validation-for="Jual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



