@model SumberMas2015.SalesMarketing.Dto.SalesMarketing.SalesMarketingRequest
@{
      ViewData["Title"] = "Add Sales Marketing";
 //   Layout = "~/Views/Shared/_AdminlteCreate.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <form asp-action="AddSalesMarketing">
                 <div>
                     <div>
                         <label asp-for="NamaSales">Nama Sales Force</label>
                         <input type="text" style="" asp-for="NamaSales"/>
                     </div>
                 </div>
                 <div>
                    <label class="control-label"></label>
                     <button type="submit">Save</button>
                 </div>
            </form>
        </div>
    </section>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


